
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'slider1.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Fresh Markets at your Fingertips</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider2.jpg',  class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Cafe? Caf-YAY!</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider3.jpg',  class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Scour for the best botiques!</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <% if place.photo.last.present? %>
      <%= image_tag place.photo.last.picture.url, class: 'thumb' %>
    <% end %>
    <br>
    <br>
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i> <br> <br>
    <p><%= place.description %></p> <br>
  <% if current_user && current_user == place.user %>
    <small>You posted this!</small>
  <% elsif place.user.present? %>
    <small><%= place.user.email%></small>
  <% end %>


<% if place.comments.present? %>
  <div class = "col-12">
    <blockquote>
      <% if place.comments.last.humanized_rating.present? %>
        <b><%= place.comments.last.humanized_rating %></b> -
      <% end %>
      <b><%= place.comments.last.message %> </b>
      <% if current_user && current_user == place.comments.last.user %>
        <small>- from you</small>
        <% elsif place.comments.last.user.present? %>
          <small> - <%= place.comments.last.user.email%></small>
        <% end %>
    </blockquote>
</div>
<% end %>


<div class="pager">
  <%= will_paginate @places, previous_label: '<<', next_label: '>>',
  link_separator: ' - ', :container => false %>
</div>
</div>
<% end %>
